source "./kernel/mm/kconfig"

menu "Kernel Core Features"
        
  menu "SYMBOL_TABLE"
  config USE_EXPORT_SYMBOL_TABLE
      bool "Use export symbol tabe to mannage kernel lib"
      default n
      help
        This function will use plenty much flash space ,
        if you want load elf file to add function when kernel is running 
  endmenu
  

source "./kernel/sched/kconfig"

config ARCH_USE_CMPXCHG_LOCKREF
  bool "Use cmpxchg64-based lockref implementation"
  default n
  help
    Enable this option if your platform supports 64-bit cmpxchg 
    and SMP operation, for lockref performance optimization.

config CPU_BIG_ENDIAN
    bool "Build big-endian kernel"
    default n
    help
      Say Y if you plan to run this kernel on a big-endian ARM system.

endmenu

