menu "sched"



config SYSTEM_TICK_FREQUENCY
      int "SYSTEM TICK (HZ)"
      default 500
      help
        Set the tick frequency



config CPU_NUM
    int "Number of CPUs"
    default 1
    help
      Specify the number of CPUs in the system.

config SCHED_CPU0
    string "Scheduler module for CPU 0"
    default "Preemptive"
    help
      Specify the scheduler module name for CPU 0.
      e.g., "Preemptive", "time_loop", "EDF", etc.

config SCHED_CPU1
    string "Scheduler module for CPU 1 (if used)"
    default "time_loop"
    depends on CPU_NUM >= 2
    help
      Specify the scheduler module name for CPU 1.
      e.g., "Preemptive", "time_loop"

config SCHED_CPU2
    string "Scheduler module for CPU 2 (if used)"
    default "time_loop"
    depends on CPU_NUM >= 3
    help
      Add support as needed.

config SCHED_CPU3
    string "Scheduler module for CPU 3 (if used)"
    default "time_loop"
    depends on CPU_NUM >= 4
    help
      Add support as needed.



    
config MMU
    bool "Enable MMU"
    default n
    help
      Enable or disable Memory Management Unit (MMU).


config KTHREAD_DEFAULT_PRIORITY
      int "default task priority"
      default 8
      help
        Set Kthread create task priority(low 0 -> n heigh)

config KTHREAD_DEFAULT_STACK_SIZE
  int "kthread create task default alloc stank size(kb)"
  default 8
  help
    Set Kthread create task default stank size

config KTHREAD_DEFAULT_USE_CPU_CORE
  int "kthread default use cpu core"
  default 0
  help
    Set Kthread create task use cpu core


endmenu

